<div>
	<h2><span class="label label-default" style="font-family: courier; font-weight: normal"><font color="white">Welcome {{$ctrl.user}}</font></span><h2>
</div>
<div>
<search change='$ctrl.change'/>
</div>

<div>
	<h1><font color="white">Now Showing In Theaters</font></h1>
	<div style="float: left" ng-repeat="movie in $ctrl.list">
		<div ><img src={{movie.poster}}></div>
		<div >{{movie.title}}</div>
		<div >{{movie.date}}</div>
	</div>	
</div>

<div>
<list movie='$ctrl.movie' trailer='$ctrl.trailer' user="$ctrl.user" />
</div>
