<div class="container" style="text-align: center;  border-radius: 15px;  background-color: #000000; z-index: 1;position: fixed; top:65px; left: 105px ">
	<form  >
		<div class="input-group">
			<input id="input" type="text" class="form-control" placeholder="Please Enter The Name of Movie" style="width: 95%">
			
			<div class="input-group-btn">
				<button class="btn btn-default" type="submit" ng-click='$ctrl.change()' >
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		</div>
	</form>
<style>
	.input-group{
	width: 100%;
    font-size: 16px;
    background-color: #000000;
    color: #000000;

	}
</style>